.node-red/flows_infopanel.json
[{"id":"f92f8d3c.2332b","type":"tab","label":"Lacework panel","disabled":false,"info":""},{"id":"2225fb86.c90c3c","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c8fdf69c.35e1b","type":"exec","z":"f92f8d3c.2332b","command":"","addpay":"payload","append":"","useSpawn":"true","timer":"","winHide":false,"oldrc":true,"name":"","x":290,"y":100,"wires":[["e8bd27e0.6a054"],["2062bc39b4386f3b"],["f8585d8d46fd0ff9"]]},{"id":"e8bd27e0.6a054","type":"debug","z":"f92f8d3c.2332b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":60,"wires":[]},{"id":"76daed08.bc96f4","type":"inject","z":"f92f8d3c.2332b","name":"Start panel","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"sudo  python /home/pi/infopanel/infopanel --config /home/pi/lacework.yaml","payloadType":"str","x":130,"y":100,"wires":[["c8fdf69c.35e1b","6052d940fe6c1e4b"]]},{"id":"69929b49.934fc4","type":"exec","z":"f92f8d3c.2332b","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":310,"y":480,"wires":[["64e3faea.614f24"],["64e3faea.614f24"],["64e3faea.614f24"]]},{"id":"611d35a4.659364","type":"inject","z":"f92f8d3c.2332b","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"sudo reboot","payloadType":"str","x":110,"y":480,"wires":[["69929b49.934fc4"]]},{"id":"17754dd3.4396c2","type":"inject","z":"f92f8d3c.2332b","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"sudo shutdown -P now","payloadType":"str","x":140,"y":540,"wires":[["69929b49.934fc4"]]},{"id":"64e3faea.614f24","type":"debug","z":"f92f8d3c.2332b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":480,"wires":[]},{"id":"99f8ea20.b67448","type":"mqtt out","z":"f92f8d3c.2332b","name":"","topic":"infopanel/brightness","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2225fb86.c90c3c","x":1280,"y":520,"wires":[]},{"id":"a14905bd.f90608","type":"inject","z":"f92f8d3c.2332b","name":"","repeat":"","crontab":"","once":false,"onceDelay":"5","topic":"","payload":"50","payloadType":"str","x":1070,"y":520,"wires":[["99f8ea20.b67448"]]},{"id":"b071b911.d02438","type":"inject","z":"f92f8d3c.2332b","name":"","repeat":"","crontab":"","once":false,"onceDelay":"5","topic":"","payload":"100","payloadType":"str","x":1070,"y":560,"wires":[["99f8ea20.b67448"]]},{"id":"bffba95d.c63ed8","type":"inject","z":"f92f8d3c.2332b","name":"","repeat":"","crontab":"","once":false,"onceDelay":"5","topic":"","payload":"5","payloadType":"str","x":1070,"y":480,"wires":[["99f8ea20.b67448"]]},{"id":"dcc3b8b6.36f9c8","type":"comment","z":"f92f8d3c.2332b","name":"Startup (kill the process first)","info":"","x":160,"y":40,"wires":[]},{"id":"7ba5b56f.2fb7ec","type":"comment","z":"f92f8d3c.2332b","name":"Reboot / Shutdown","info":"","x":110,"y":440,"wires":[]},{"id":"b9683fe.880a1c","type":"comment","z":"f92f8d3c.2332b","name":"Brightness","info":"","x":1060,"y":440,"wires":[]},{"id":"c0c433afcec43ec9","type":"inject","z":"f92f8d3c.2332b","name":"Logo","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"infopanel/mode","payload":"startup","payloadType":"str","x":650,"y":480,"wires":[["8aaf9a77de0b723d"]]},{"id":"548493abcf61937a","type":"comment","z":"f92f8d3c.2332b","name":"Set modes","info":"","x":640,"y":440,"wires":[]},{"id":"8aaf9a77de0b723d","type":"mqtt out","z":"f92f8d3c.2332b","name":"","topic":"infopanel/mode","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2225fb86.c90c3c","x":860,"y":480,"wires":[]},{"id":"26de0bd494442dd2","type":"inject","z":"f92f8d3c.2332b","name":"Events","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"infopanel/mode","payload":"events","payloadType":"str","x":650,"y":540,"wires":[["4e7d698a6b627c61"]]},{"id":"4e7d698a6b627c61","type":"mqtt out","z":"f92f8d3c.2332b","name":"","topic":"infopanel/mode","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2225fb86.c90c3c","x":860,"y":540,"wires":[]},{"id":"d628d1a51caa4fa4","type":"ip","z":"f92f8d3c.2332b","name":"ip","https":false,"timeout":"5000","internalIPv4":true,"internalIPv6":false,"publicIPv4":true,"publicIPv6":false,"x":290,"y":280,"wires":[["1c298fe7c263acef","f6996c1137b80ce5","088439dbd3baad09","5d1dcaba2c1993b0"]]},{"id":"2242a611536dbe47","type":"mqtt out","z":"f92f8d3c.2332b","name":"Send to panel","topic":"infopanel/ipv4addressint","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2225fb86.c90c3c","x":880,"y":200,"wires":[]},{"id":"979c35a16ef4f347","type":"mqtt out","z":"f92f8d3c.2332b","name":"Set mode to startup","topic":"infopanel/mode","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2225fb86.c90c3c","x":900,"y":380,"wires":[]},{"id":"1c298fe7c263acef","type":"delay","z":"f92f8d3c.2332b","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":500,"y":380,"wires":[["0d38194e84674a5c"]]},{"id":"0d38194e84674a5c","type":"change","z":"f92f8d3c.2332b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"startup","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":380,"wires":[["979c35a16ef4f347"]]},{"id":"d2ab4f9d44e66f45","type":"mqtt out","z":"f92f8d3c.2332b","name":"Send to panel","topic":"infopanel/mode","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2225fb86.c90c3c","x":880,"y":320,"wires":[]},{"id":"f6996c1137b80ce5","type":"change","z":"f92f8d3c.2332b","name":"Set IP mode","rules":[{"t":"set","p":"payload","pt":"msg","to":"ipmode","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":320,"wires":[["d2ab4f9d44e66f45"]]},{"id":"088439dbd3baad09","type":"change","z":"f92f8d3c.2332b","name":"Get internalV4 address","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.internalIPv4","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":200,"wires":[["2242a611536dbe47"]]},{"id":"8319baee042cb162","type":"mqtt out","z":"f92f8d3c.2332b","name":"Send to panel","topic":"infopanel/ipv4addressext","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2225fb86.c90c3c","x":880,"y":260,"wires":[]},{"id":"5d1dcaba2c1993b0","type":"change","z":"f92f8d3c.2332b","name":"Get externalV4 address","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.publicIPv4","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":260,"wires":[["8319baee042cb162"]]},{"id":"dc9bd5cf58ed5914","type":"mqtt out","z":"f92f8d3c.2332b","name":"Title","topic":"infopanel/event_title","qos":"1","retain":"","broker":"2225fb86.c90c3c","x":1230,"y":780,"wires":[]},{"id":"ba009596d5c7e7e4","type":"webhookrelay","z":"f92f8d3c.2332b","buckets":"nodered","x":100,"y":740,"wires":[["8594ed167324b59f"]]},{"id":"e730505111f97443","type":"change","z":"f92f8d3c.2332b","name":"remove header","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.body","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":740,"wires":[["53c2a9ac2661919f"]]},{"id":"53c2a9ac2661919f","type":"json","z":"f92f8d3c.2332b","name":"","property":"payload","action":"","pretty":false,"x":850,"y":740,"wires":[["43c15950819f625c","cc115af556f7ab66","64a8e1d8ef9c03b0","2ddf95bb5cc56179","333a1186e0a78d3b"]]},{"id":"a3419931f7315fc9","type":"inject","z":"f92f8d3c.2332b","name":"Inject test payload","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"type\":\"webhook\",\"meta\":{\"id\":\"ee738123-7a71-419b-9c84-7e86447224fc\",\"bucked_id\":\"cb6c28f5-1058-4253-8814-837b6e0059fd\",\"bucket_name\":\"nodered\",\"input_id\":\"b0d1fdba-de30-45ea-9842-0ddfe384e436\",\"input_name\":\"Default public endpoint\",\"output_name\":\"\",\"output_destination\":\"\"},\"headers\":{\"Accept-Encoding\":[\"gzip,deflate\"],\"User-Agent\":[\"Lacework-Client\"],\"Traceparent\":[\"00-21f0cb8547a5442acb0ab7b967c16d6f-20ea4108d5d29174-01\"],\"Content-Length\":[\"292\"],\"Content-Type\":[\"application/json; charset=UTF-8\"]},\"query\":\"\",\"body\":\"{\\\"event_title\\\":\\\"Test Event\\\",\\\"event_link\\\":\\\"https://login.lacework.net\\\",\\\"lacework_account\\\":\\\"LWINTTONMACHIELSEN\\\",\\\"event_source\\\":\\\"TestEventSource\\\",\\\"event_description\\\":\\\"BEWARE!! The SE team is coming back into your meeting!!\\\",\\\"event_timestamp\\\":\\\"14 Oct 2021 09:26 GMT\\\",\\\"event_type\\\":\\\"TestEvent\\\",\\\"event_id\\\":\\\"0\\\",\\\"event_severity\\\":\\\"0\\\"}\",\"method\":\"POST\"}","payloadType":"json","x":330,"y":680,"wires":[["e730505111f97443"]]},{"id":"8df23869cb2c5cb9","type":"mqtt out","z":"f92f8d3c.2332b","name":"Description","topic":"infopanel/event_description","qos":"1","retain":"","broker":"2225fb86.c90c3c","x":1250,"y":900,"wires":[]},{"id":"f4449cc817a941a7","type":"mqtt out","z":"f92f8d3c.2332b","name":"Source","topic":"infopanel/event_source","qos":"1","retain":"","broker":"2225fb86.c90c3c","x":1240,"y":840,"wires":[]},{"id":"626c0f6ad8e0fa62","type":"mqtt out","z":"f92f8d3c.2332b","name":"Date","topic":"infopanel/event_timestamp","qos":"1","retain":"","broker":"2225fb86.c90c3c","x":1470,"y":720,"wires":[]},{"id":"43c15950819f625c","type":"change","z":"f92f8d3c.2332b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.event_timestamp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":720,"wires":[["f2a3e5090f0cd133"]]},{"id":"cc115af556f7ab66","type":"change","z":"f92f8d3c.2332b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.event_title","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":780,"wires":[["dc9bd5cf58ed5914"]]},{"id":"64a8e1d8ef9c03b0","type":"change","z":"f92f8d3c.2332b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.event_source","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":840,"wires":[["f4449cc817a941a7"]]},{"id":"2ddf95bb5cc56179","type":"change","z":"f92f8d3c.2332b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.event_description","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":900,"wires":[["8df23869cb2c5cb9"]]},{"id":"f2a3e5090f0cd133","type":"moment","z":"f92f8d3c.2332b","name":"","topic":"","input":"","inputType":"msg","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"lll","locale":"en-GB","output":"","outputType":"msg","outTz":"Europe/Madrid","x":1280,"y":720,"wires":[["626c0f6ad8e0fa62"]]},{"id":"94c6bafd073f4199","type":"comment","z":"f92f8d3c.2332b","name":"Processing","info":"","x":80,"y":680,"wires":[]},{"id":"423e071be6f796e1","type":"mqtt out","z":"f92f8d3c.2332b","name":"Account","topic":"infopanel/lacework_account","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2225fb86.c90c3c","x":1240,"y":660,"wires":[]},{"id":"333a1186e0a78d3b","type":"change","z":"f92f8d3c.2332b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.lacework_account","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":660,"wires":[["423e071be6f796e1"]]},{"id":"8594ed167324b59f","type":"trigger","z":"f92f8d3c.2332b","name":"Check for messages","op1":"","op2":"timeout","op1type":"pay","op2type":"str","duration":"10","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":320,"y":740,"wires":[["e730505111f97443","e02662c15b3b7bbd","ef6498673dd72e18"],["01962cef1650913e","8e931037210a529a"]]},{"id":"01962cef1650913e","type":"change","z":"f92f8d3c.2332b","name":"Timeout expired","rules":[{"t":"set","p":"payload","pt":"msg","to":"startup","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":920,"wires":[["4288ae7913010434"]]},{"id":"4288ae7913010434","type":"mqtt out","z":"f92f8d3c.2332b","name":"Switch to logo","topic":"infopanel/mode","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2225fb86.c90c3c","x":760,"y":920,"wires":[]},{"id":"c5bdb6f707fbf422","type":"mqtt out","z":"f92f8d3c.2332b","name":"","topic":"infopanel/mode","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2225fb86.c90c3c","x":820,"y":800,"wires":[]},{"id":"e02662c15b3b7bbd","type":"change","z":"f92f8d3c.2332b","name":"Event mode","rules":[{"t":"set","p":"payload","pt":"msg","to":"events","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":800,"wires":[["c5bdb6f707fbf422"]]},{"id":"7d21eb91f94d730f","type":"mqtt out","z":"f92f8d3c.2332b","name":"Activate screensaver","topic":"infopanel/brightness","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2225fb86.c90c3c","x":720,"y":980,"wires":[]},{"id":"8e931037210a529a","type":"change","z":"f92f8d3c.2332b","name":"Set brightness to 5","rules":[{"t":"set","p":"payload","pt":"msg","to":"5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":980,"wires":[["7d21eb91f94d730f"]]},{"id":"90539629425ac312","type":"mqtt out","z":"f92f8d3c.2332b","name":"Set brightness","topic":"infopanel/brightness","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2225fb86.c90c3c","x":800,"y":860,"wires":[]},{"id":"ef6498673dd72e18","type":"change","z":"f92f8d3c.2332b","name":"Set brightness to 50","rules":[{"t":"set","p":"payload","pt":"msg","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":860,"wires":[["90539629425ac312"]]},{"id":"1d989486d70e150a","type":"inject","z":"f92f8d3c.2332b","name":"Get IP","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":110,"y":280,"wires":[["d628d1a51caa4fa4"]]},{"id":"352e11b62d899d96","type":"comment","z":"f92f8d3c.2332b","name":"Show IP","info":"","x":100,"y":240,"wires":[]},{"id":"f8585d8d46fd0ff9","type":"debug","z":"f92f8d3c.2332b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":140,"wires":[]},{"id":"2062bc39b4386f3b","type":"debug","z":"f92f8d3c.2332b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":100,"wires":[]},{"id":"6052d940fe6c1e4b","type":"delay","z":"f92f8d3c.2332b","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":280,"y":200,"wires":[["d628d1a51caa4fa4"]]}]